<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API</title>
</head>
<body>
    <table border=1>
        {% for i in range(lista_czujnikow) %}
        <tr>
            <th colspan="4"><h3>{{ krakow[i]['stationName'] }}</h3> </th>
        </tr>
            {%for a in range(lista_czujnikow_len[i])%}
            <tr>
                <th>
                    {{ pierwiastek[i][a] }}
                </th>
                <th>

                    {{ wartosc[i][a]|round(2, 'common') }}
                </th>
                <th>
                    {{ godzina[i][a] }}
                </th>
                <th>
                    {{ norma[i][a] | round(1, 'common') }} %
                </th>
            </tr>
            {% endfor %}
        {% endfor %}
    </table>
</body>
</html>